.nav-wrapper {
  display: flex;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.nav-toggle {
  cursor: pointer;
  color: white;
  background: transparent;
  border: none;
  margin-right: 20px;
}

.nav-links {
  display: none;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
  flex-direction: row;
}

.nav-links.open {
  display: flex;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: gold;
}
.nav-links {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.nav-links.open {
  opacity: 1;
}
.profile-icon {
  margin-left: auto;
  margin-right: 1rem;
  cursor: pointer;
  color: white;
  position: absolute;
  right: 10px;
  top: 12px;
}
