.search-results {
  padding: 20px;
  
}

.results-heading {
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 10px;
}

.results-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  justify-items: center;
  padding-bottom: 40px;
}


.no-results {
  color: #ccc;
  font-size: 1.1rem;
  text-align: center;
}

  