html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
  font-family: 'Garamond', serif;
  background-color: #0a0a0a;
  background-image: url("/w1.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-overflow-scrolling: touch;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #0e0e1f;
  color: #f0f8ff;
  transition: background 0.3s ease-in-out;
  font-family: 'Quicksand', sans-serif;
}

body.no-scroll {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

@media (max-width: 600px) {

  .card,
  .form,
  .shelf-item,
  .search-item,
  .movie-card {
    width: 100% !important;
  }
}
body {
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.mobile-blocker {
  display: none;
}

@media (max-width: 768px) {
  .mobile-blocker {
    display: flex;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgb(18, 18, 18);
    justify-content: center;
    align-items: center;
    z-index: 999999;
    font-size: 1.2rem;
    text-align: center;
    padding: 2rem;
  }
}
